* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

header {
  border-bottom: 1px solid black;
}
header .img_Tit {
  width: 8rem;
  height: auto;
  border-radius: 30%;
  box-shadow: -2px -2px 3px 4px rgba(0, 170, 255, 0.84);
  -webkit-box-shadow: -2px -2px 3px 4px rgba(0, 170, 255, 0.84);
  -moz-box-shadow: -2px -2px 3px 4px rgba(0, 170, 255, 0.84);
}
header .letra_menu {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2rem;
}

main {
  border-bottom: 1px solid black;
}
main .main_flex {
  display: flex;
  flex-direction: column;
}
main .descuento {
  padding: 0.5rem 0;
  border-radius: 0.25;
  background: rgb(0, 170, 255);
  background: linear-gradient(90deg, rgb(0, 170, 255) 0%, rgb(210, 105, 30) 25%, rgb(210, 105, 30) 75%, rgb(0, 170, 255) 100%);
  color: antiquewhite;
  font-size: 1.5rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  text-decoration: solid;
  margin: 0.25rem 0;
  transition: 3s;
}
main .descuento:hover {
  transform: scale(1.2);
}
main .img_carrou {
  width: 100%;
  height: 400px;
  margin: 0.5rem 0;
}
main .titulos {
  color: rgb(0, 170, 255);
  font-size: 2rem;
  text-shadow: 0.15rem 0.15rem black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
main .sub_titulos {
  color: rgb(0, 170, 255);
  font-size: 1rem;
  text-shadow: 0.1rem 0.1rem black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: left;
}
main .flex_productos {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-around;
  margin-bottom: 5%;
}
main .flex_productos .flex_productos_1 {
  width: 50%;
  margin: 5%;
}
main .flex_productos .flex_productos_1 .parrafo {
  font-size: 1.5rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: justify;
  border-width: 5%;
}
main .flex_productos .flex_productos_1 .img_gral {
  width: 35%;
  height: auto;
  border-radius: 50%;
  margin-top: 5%;
}
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
main .img_gira {
  animation: girar 10s linear infinite;
}

.footer_pa {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
}
.footer_pa .img_footer {
  width: 8%;
  border-radius: 30%;
  border: rgb(0, 170, 255) solid 0.1rem;
}
.footer_pa .container_redes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
.footer_pa .letra_autor {
  font-size: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: justify;
  align-content: center;
  border-width: 5%;
}

.footer_pa .container_redes .red_face {
  text-decoration: none;
  background-color: #26559A;
  padding: 1rem;
  border-radius: 10%;
  color: white;
  font-family: kanit;
  font-size: 1.25rem;
  text-align: center;
}
.footer_pa .container_redes .red_face:hover {
  background-color: darkgrey;
}
.footer_pa .container_redes .red_insta {
  text-decoration: solid;
  background-color: deeppink;
  padding: 1.25rem;
  border-radius: 30%;
  color: black;
  font-family: dancing;
  font-size: 1.5rem;
  text-align: center;
}
.footer_pa .container_redes .red_insta:hover {
  background-color: darkgrey;
}
.footer_pa .container_redes .red_wp {
  text-decoration: none;
  background-color: #30AB1F;
  padding: 1.2rem;
  border-radius: 120%;
  color: white;
  font-family: Georgia;
  font-size: 1.5rem;
  text-align: center;
}
.footer_pa .container_redes .red_wp:hover {
  background-color: darkgrey;
}

.titulo_main {
  color: white;
  font-size: 2rem;
  background-color: rgb(0, 170, 255);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  margin-bottom: 5%;
}

.container_formulario {
  display: flex;
  flex-direction: column;
  margin: 5% 30%;
}

.container_mapa {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_rubros {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  margin-bottom: 2rem;
}
.container_rubros .card_rubro {
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-content: stretch;
  position: relative;
  cursor: pointer;
}
.container_rubros .card_rubro .img_rubro {
  width: 15rem;
  height: 15rem;
  border-radius: inherit;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}
.container_rubros .card_rubro .link_rubro, .container_rubros .card_rubro .link_rubro_2, .container_rubros .card_rubro .link_rubro_1 {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  position: absolute;
  top: 7rem;
  left: 4rem;
  transform: translate(-50%, 50%);
}
.container_rubros .card_rubro .link_rubro .letra_rubro, .container_rubros .card_rubro .link_rubro_2 .letra_rubro, .container_rubros .card_rubro .link_rubro_1 .letra_rubro {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
  font-style: oblique;
  transform: translateY(50%);
}
.container_rubros .card_rubro .link_rubro_1 {
  left: 23%;
}
.container_rubros .card_rubro .link_rubro_2 {
  left: 25%;
}

.card_rubro::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 0.5rem solid white;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.card_rubro:hover img {
  filter: grayscale(1) brightness(0.4);
}

.card_rubro:hover::after {
  opacity: 1;
  inset: 1rem;
}

.card_rubro:hover .link_rubro, .container_rubros .card_rubro:hover .link_rubro_1, .container_rubros .card_rubro:hover .link_rubro_2 {
  scale: 1;
  opacity: 1;
  transform: translateY(0);
}

.link_rubro, .container_rubros .card_rubro .link_rubro_1, .container_rubros .card_rubro .link_rubro_2 {
  opacity: 0;
  transition: 0.4s 0.2s ease;
}

/*# sourceMappingURL=style.css.map */
