.container_rubros{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    margin-bottom: 2rem;
        
    .card_rubro{
        width: 100%;
        height: 100%;
        justify-content: space-around;
        align-content: stretch;
        position: relative;
        cursor: pointer;        
            .img_rubro{
                width: 15rem;
                height: 15rem;
                border-radius: inherit;
                display: flex;
                align-items: stretch;
                justify-content: space-around;
            }
            .link_rubro{
                width: 5rem;
                height: 5rem;
                object-fit: cover;
                position: absolute;
                top: 7rem;
                left: 4rem;
                transform: translate(-50%,50%);
                .letra_rubro{
                    text-decoration: none;
                    font-family: Arial, Helvetica, sans-serif;
                    color: white;
                    font-weight: 500;
                    font-size: 1.3rem;
                    font-style: oblique;
                    transform: translateY(50%);
                }
            }
            .link_rubro_1{
                @extend .link_rubro;
                left: 23%;                
            }
            .link_rubro_2{
                @extend .link_rubro;
                left: 25%
            }
    }
}

.card_rubro::after{
    content: "";
    position: absolute;
    inset: 0;
    border: 0.5rem solid white;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.card_rubro:hover img{
    filter: grayscale(1) brightness(0.4);
}

.card_rubro:hover::after{
    opacity: 1;
    inset: 1rem;
}

.card_rubro:hover .link_rubro{
    scale: 1;
    opacity: 1;
    transform: translateY(0);
}

.link_rubro{
    opacity: 0;
    transition: 0.4s 0.2s ease;
}


