.container_rubros{
    display: flex;
    flex-direction: row;
    flex-wrap: inherit;
    align-content: stretch;
    justify-content: space-around;
    align-items: center;
    
    .card_rubro{
        width: 200%;
        border-radius: 1px;
        position: relative;
        cursor: pointer;        
            .img_rubro{
                width: 100%;
                height: auto;
                border-radius: inherit;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .link_rubro{
                width: 100%;
                position: absolute;
                top: 45%;
                left: 29%;
                transform: translate(-50%,50%);
                .letra_rubro{
                    text-decoration: none;
                    font-family: Arial, Helvetica, sans-serif;
                    color: white;
                    font-weight: 600;
                    font-size: 1.5rem;
                    font-style: oblique;
                    transform: translateY(50%);
                }
            }
            .link_rubro_1{
                @extend .link_rubro;
                left: 35%;                
            }
            .link_rubro_2{
                @extend .link_rubro;
                left: 40%
            }
    }
}

.card_rubro::after{
    content: "";
    position: absolute;
    inset: 0;
    border: 0.5rem solid white;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.card_rubro:hover img{
    filter: grayscale(1) brightness(0.4);
}

.card_rubro:hover::after{
    opacity: 1;
    inset: 5%;
}

.card_rubro:hover .link_rubro{
    scale: 1;
    opacity: 1;
    transform: translateY(0);
}

.link_rubro{
    opacity: 0;
    transition: 0.4s 0.2s ease;
}


