.footer_pa{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .img_footer{
        width: 5rem;
        height: auto;
        border-radius: 30%;
        border: rgb(0, 170, 255) solid 4px;        
    }
    .container_redes{
        display: flex;
        flex-direction: row;
        gap: 15rem;
        justify-content: space-around;
        padding: 0%;
    }    
    .letra_autor{
        font-size: 1rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: justify;
        border-width: 5%;
    }
}


