.footer_pa{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-around;
    align-items: center;
    
    .img_footer{
        width: 8%;
        border-radius: 30%;
        border: rgb(0, 170, 255) solid 0.1rem;        
    }
    .container_redes{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1rem;
        list-style: none;
        justify-content: space-around;
        align-items: center;
        gap: 1rem; 
           
    }    
    .letra_autor{
        font-size: 1rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: justify;
        align-content: center;
        border-width: 5%;
    }
}

@mixin redes_std ($tx_deco,$bk_color,$pad,$b_rad,$tx_color,$tx_font,$tx_size,$tx_align){
    text-decoration: $tx_deco;
    background-color: $bk_color;
    padding: $pad;
    border-radius: $b_rad;
    color: $tx_color;
    font-family: $tx_font;
    font-size: $tx_size;
    text-align: $tx_align;
}

.footer_pa{
    .container_redes{
        .red_face{
            @include redes_std(none,#26559A,1rem,10%,white,kanit,1.25rem,center);
            &:hover{
                background-color: darkgrey; 
            }
        }
        .red_insta{
            @include redes_std(solid,deeppink,1.25rem,30%,black,dancing,1.5rem,center);
            &:hover{
                background-color: darkgrey; 
            }
        }
        .red_wp{
            @include redes_std(none,#30AB1F,1.2rem,120%,white,Georgia,1.5rem,center);
            &:hover{
                background-color: darkgrey; 
            }
        }
    }
}


