@mixin redes_std ($tx_deco,$bk_color,$pad,$b_rad,$tx_color,$tx_font,$tx_align){
    text-decoration: $tx_deco;
    background-color: $bk_color;
    padding: $pad;
    border-radius: $b_rad;
    color: $tx_color;
    font-family: $tx_font;
    text-align: $tx_align;
}
.red_face{
    padding: 20px;
    text-decoration: none;

}
